html,
body {
    height: 100%;
}

#mynetwork {
    width: 50%;
    height: 100%;
    border: 1px solid lightgray;
}

#container2 {
    width: 50%;
    height: 100%;
    border: 1px solid lightgray;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

#container{
    width: 100%;
    height: 70%;
    background-color: white;
    display: flex;
    margin: 0 auto;
}

#generate-problem{
    margin:auto;
    display:block;
}


#solve{
    margin:auto;
    display:block;
}

.navbar {
    background-image: url('assets/8859.jpg');
    background-size: cover;
    background-position: center;
    padding: 10px;
}

.navbar-text {
    font-size: 32px;
    font-weight: bold;
    color: #b93737;
    text-shadow: 2px 2px 4px rgba(185, 142, 142, 0.5);
    font-family: 'Arial', sans-serif;
    margin-left: 10px;
}